.Weather {
  max-width: 500px;
  margin: 0 auto;
  color: #f6f8fb;
}

.Weather form input {
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  background-color: #efefef;
  color: #0777a8;
}

.Weather .searchInput {
  width: 70%;
}
.Weather .searchButton {
  font-weight: 550;
  width: 25%;
  margin-left: 5px;
}
